.container {
  max-width: 1240px;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  color: #fff;
}
a:hover {
  color: #e83e8c;
}
a.link-button {
  font-size: 14px;
  padding: 20px 25px;
  display: inline-block;
  background: #603474;
}
a.link-button:hover {
  text-decoration: none;
  color: #fff;
}

.flower-icon {
  background-image: url(../assets/images/ico-flower-small.png);
  background-position: right top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 10px;
  width: 15px;
}

.flower-icon-with-lines {
  background-image: url(../assets/images/ico-flower.png);
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  margin: 0 auto;
  position: relative;
  width: 20px;
}
.flower-icon-with-lines:before, .flower-icon-with-lines::after {
  content: "";
  background: #181818;
  display: inline-block;
  height: 4px;
  position: absolute;
  top: 8px;
  width: 50px;
}
.flower-icon-with-lines:before {
  right: 30px;
}
.flower-icon-with-lines::after {
  left: 30px;
}

.splitter {
  background: url(../assets/images/splitter.png) repeat-x;
  clear: both;
  display: block;
  float: left;
  height: 10px;
  margin: 30px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.navbar {
  background: #603474;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navbar:after {
  background-image: url("../assets/images/header-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  content: "";
  height: 130px;
  position: absolute;
  bottom: 6px;
  right: 10px;
  width: 290px;
  z-index: 99;
}
.navbar__title {
  color: rgba(255, 255, 255, 0.32);
  width: 100%;
  font-size: 24px;
  padding: 5px 0 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  font-family: "Tangerine", cursive;
}
.navbar .navbar__content {
  display: flex;
  padding: 15px 30px 30px;
  width: 100%;
}
.navbar .navbar__content__right {
  margin-left: 200px;
}
.navbar .nav-item {
  border: 2px solid transparent;
  margin: 0 12px;
  border-radius: 24px;
}
.navbar .nav-item:hover, .navbar .nav-item.active {
  transition: all 0.3s ease;
  border: 2px solid #fff;
}
.navbar .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px;
  text-transform: uppercase;
}

.footer {
  background: #603474;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 50px;
  color: #fff;
  padding: 30px;
}
.footer__title {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}
.footer__info .fa-h-square {
  color: #ffbf00;
}
.footer__info .fa-whatsapp {
  color: #25d366;
}
.footer__info p {
  margin-bottom: 5px;
}
.footer__address span {
  margin-left: 20px;
}
.footer .fa {
  margin-right: 3px;
  margin-bottom: 5px;
}

.page__content {
  margin: 50px 0;
}

.home h3 {
  margin-bottom: 15px;
}
.home__content {
  font-size: 20px;
  line-height: 1.3;
  margin: 40px 0 50px;
}
.home__social a {
  font-size: 0px;
  width: 48px;
  height: 48px;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.home__social img {
  display: inline;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

.services {
  margin-bottom: 70px;
}
.services__title {
  margin: 50px 0 15px;
}
.services__content__title {
  margin-top: 20px;
}
.services__content__section {
  margin: 50px 0;
}
.services .product_price {
  display: flex;
  color: #808080;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.studio__subtitle {
  font-size: 27px;
  color: #808080;
  font-family: "Tangerine", cursive;
  margin: 10px 0 40px;
}
.studio__content {
  padding-right: 30px;
}
.studio__content__appointment {
  background: #f3e9f7;
  border-left: 6px solid #603474;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.studio__content__appointment:after {
  content: "";
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 35px solid #f3e9f7;
  right: 10px;
  width: 0;
  height: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
}
.studio__slide {
  margin: 60px auto 30px;
}
.studio .carousel-caption {
  background: rgba(96, 52, 116, 0.8);
  padding: 15px 20px;
}

.galery__slide {
  margin: 10px auto 30px;
}

/*# sourceMappingURL=main.css.map */
