.container {
  max-width: 1240px;
}

body {
  font-family: Georgia, sans-serif;
}

a {
  color: $white;
  text-decoration: underline;
  &:hover {
    color: $pink;
  }
}

.flower-icon {
  background-image: url(../assets/images/ico-flower-small.png);
  background-position: right top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 10px;
  width: 15px;
}
