.container {
  max-width: 1240px;
}

body {
  // font-family: Georgia, sans-serif;
  font-family: 'Lato', sans-serif;
}

a {
  color: $white;
  // text-decoration: underline;
  &:hover {
    color: $pink;
  }
}

.flower-icon {
  background-image: url(../assets/images/ico-flower-small.png);
  background-position: right top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 10px;
  width: 15px;
}

.flower-icon-with-lines {
  background-image: url(../assets/images/ico-flower.png);
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  margin: 0 auto;
  position: relative;
  width: 20px;

  &:before,
  &::after {
    content: '';
    background: #181818;
    display: inline-block;
    height: 4px;
    position: absolute;
    top: 8px;
    width: 50px;
  }

  &:before {
    right: 30px;
  }

  &::after {
    left: 30px;
  }
}

.splitter {
  background: url(../assets/images/splitter.png) repeat-x;
  clear: both;
  display: block;
  float: left;
  height: 10px;
  margin: 30px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
